PORT = 3000                                                           # Port to listen on. Defaults to 3000.
ZOOM_JWT = "a.b.c"                                                    # JWT from the "App Credentials" page in the Zoom developer portal
GOOGLE_CALENDAR_ID = "g123@group.calendar.google.com"                 # Google Calendar ID. Get this from the "Integrate calendar" section in the settings for the calendar.
GOOGLE_JSON_CRED_PATH = "C:\Dev\dsa-slackbot\google-privatekey.json"  # FULL path to the Google private key used for authentication with the Google Calendar APIs
SLACK_BOT_TOKEN = "xoxb-123-234-abc"                                  # Find this on the "OAuth & Permissions" page in your Slack app registration
SLACK_CLIENT_SIGNING_SECRET = "abc123"                                # Find this as "Signing Secret" on the "Basic Information" page in your Slack app registration
