PORT = 3000                                                           # Port to listen on. Defaults to 3000.
ZOOM_JWT = "a.b.c"                                                    # JWT from the "App Credentials" page in the Zoom developer portal
GOOGLE_CALENDAR_ID = "g123@group.calendar.google.com"                 # Google Calendar ID. Get this from the "Integrate calendar" section in the settings for the calendar.
GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL = "myserviceaccount@myapp-123.iam.gserviceaccount.com"               # Create a service account in the Google API console to generate this email address.
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\nasdf123\n-----END PRIVATE KEY-----\n" # Create a service account in the Google API console and generate a private key for it.
SLACK_BOT_TOKEN = "xoxb-123-234-abc"                                  # Find this on the "OAuth & Permissions" page in your Slack app registration
SLACK_CLIENT_SIGNING_SECRET = "abc123"                                # Find this as "Signing Secret" on the "Basic Information" page in your Slack app registration
